<div>
    <div class="flex items-center pb-2 font-2xl leading-normal text-transparent">
        <p class="font-bold text-blue-600">Connections:</p>
    </div>
     <ul class="font-semibold grid grid-cols-1  ml-3 list-disc list-inside text-gray-700 ">
        <li>
            Group Affiliation: <span class="text-blue-600"> <%= heros.connections.groupAffiliation %></span>
        </li>
        <li>
            Relatives: <span class="text-blue-600"> <%= heros.connections.relatives %></span>
        </li>
     </ul>
 </div>