<nav class="navbar-gradient">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">

            <div class="cursor-default flex items-start">
                <p unselectable="on" class="gradient-css mr-3 mb-1 text-lg font-bold text-gray-300 rounded-md">SuperheroAPI</p>
            </div>

          <div class="flex-shrink-0">

            <div class="justify-center w-1/5 text-center">
            <svg class="w-8 h-8 mx-auto  logo-color fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45.166px" 
                height="45.166px" viewBox="0 0 45.166 45.166" style="enable-background:new 0 0 45.166 45.166;" xml:space="preserve">
                <path d="M42.187,19.501C41.59,8.383,33.161,0,22.583,0C12.004,0,3.576,8.383,2.978,19.501c-0.261,4.847-2.11,19.521-2.129,19.668 c-0.088,0.696,0.195,1.388,0.746,1.821c0.542,0.427,5.737,4.176,21.072,4.176c15.083,0,20.341-3.739,20.891-4.166
                c0.561-0.434,0.85-1.129,0.759-1.831C44.299,39.021,42.45,24.35,42.187,19.501z M32.921,16.422 c2.348,0.305,3.954,2.663,3.601,5.119c-0.352,2.46-2.345,4.123-4.462,3.85c-6.298-0.82-12.656-0.82-18.954,0  c-2.117,0.272-4.11-1.39-4.462-3.85c-0.353-2.457,1.254-4.814,3.601-5.119C19.116,15.526,26.05,15.526,32.921,16.422z"/>
                <circle cx="16.098" cy="21.031" r="2.171"/> <circle cx="29.066" cy="21.031" r="2.171"/>            
             </svg>
            </div>

          </div>
          <div class="hidden md:block">
            <div class="flex items-center ml-10">
                <!--lg:block-->
              <input type="text" class="hidden px-4 py-1 font-light text-sm text-white placeholder-white bg-gray-700 rounded-lg focus:outline-none focus:shadow-none" placeholder="Search or jump to...">
 
              <a href="/" class="px-3 py-2 ml-4  text-lg font-light  text-white rounded-md focus:outline-none hover:bg-gray-700 focus:text-white focus:bg-gray-700"> 
                List
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="float-left mt-1o5b mr-1 bi bi-database" viewBox="0 0 16 16">
                    <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313ZM13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A4.92 4.92 0 0 0 13 5.698ZM14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13V4Zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A4.92 4.92 0 0 0 13 8.698Zm0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525Z"/>
                  </svg>
              </a>

              <a href="/search/heroes" class="px-3 py-2 ml-4 text-lg font-light  text-white rounded-md focus:outline-none hover:bg-gray-700 focus:text-white focus:bg-gray-700"> 
                Search
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="float-left mt-1o5 mr-1 bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </a>

            </div>
          </div>
        </div>
        <div class="flex -mr-2 md:hidden">
          <button class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
            <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>