<div>
    <div class="flex items-center pb-2 font-2xl leading-normal text-transparent">
        <p class="font-bold text-blue-600">Work:</p>
    </div>
     <ul class="font-semibold grid grid-cols-1  ml-3 list-disc list-inside text-gray-700 ">
        <li>
            Occupation: <span class="text-blue-600"> <%= heros.work.occupation %></span>
        </li>
        <li>
            Base: <span class="text-blue-600"> <%= heros.work.base %></span>
        </li>

     </ul>
 </div>