.bg-color {
    background-color: rgb(48, 48, 48);
}

.logo-style {
    font-size: 30px;
    color: rgb(48, 48, 48);

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .gradient-css {
    font-size: 26px;
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  } 

  .navbar-gradient {
    background: linear-gradient(
        to bottom, 
        rgb(59, 59, 59), 
        rgb(25, 25, 25)
      );
  }

  .logo-color{
    color: hsl(204 100% 59%);
  }
  
  .mt-1o5
  {
    margin-top: 6px;
  }
  .mt-1o5b
  {
    margin-top: 5px;
  }
  th {
    border:1px solid rgba(185, 185, 185, 0.4);
    padding-left: 8px;
    padding-top: 4px;
  }